*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  color: #1a1a1a;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-color: white;
  width: 100%;
}

.container {
  display: flex;
  padding: 20px;

  &.flex_col {
    flex-direction: column;
  }
}